.git
.github
node_modules
**/node_modules
dist
**/dist
.pnpm-store
.expo
apps/mobile/.expo
apps/mobile/android
apps/mobile/ios
apps/mobile/google-services.json
apps/mobile/GoogleService-Info.plist
apps/api/serviceAccountKey.json
.env
.env.local
.env.production
**/.env
**/.env.local
**/.env.production