# Google OAuth Web Client ID (from Google Cloud Console)
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=235418572919-32ou8mp0mooms7dp5k6j4ov772qea2as.apps.googleusercontent.com
EXPO_PUBLIC_API_URL=http://localhost:3000